
/* Navbar */

.dropdown-menu, .dropdown-item, .nav-link, .nav-item , #navBar{
    background-color: #262021;
}



#whiteLogo{
    width: 5em;
}

.navbar-light .navbar-nav .nav-link{
    color: #d7d3d3e6;
}

.dropdown-item , .nav-item{
    color: white; 
}

.navbar-light .navbar-nav .nav-link:hover ,#orangeColor, .dropdown-item:hover{
    color: #E17A04;
}

/*fin de Navbar */

body{
    background-color:#F2F2F2 ;
}

/* Début de "Qui suis-je" */
#davidLogan{
    background-image: url(../img/desktop_david_logan.jpg);
    color:#d7d3d3e6;
    background-size: cover;
    background-position:center ;
    height: 600px;
    font-family:'Montserrat', sans-serif, medium;
}

/* fin de "Qui suis-je" */

/* Début de "Vol en entreprise" */
#volEntreprise{
    background-image: url(../img/desktop_vol2.jpg);
    color:#d7d3d3e6;
    background-size: cover;
    background-position:center ;
    height: 600px;
    font-family:'Montserrat', sans-serif, medium;
}

/* fin de "Vol en entreprise" */

/* Début de "Avis client" */

.container-fluid {
    padding: 30px;
    background-color:#262021;
}

.card{
    background-color:#262021;
    color: #d7d3d3e6;
    margin-bottom: 2em;
    margin-top: 2em;
}

.p2{
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
}
.titleAvis{
    color: #ffffff;

}

.custommerName{
    text-align: right;
    margin-right: 3px;
    font-size: 1em;
    font-style: italic;
}

h2{
    font-family: 'Montserrat', sans-serif, medium;
    color: #f2f2f2;
    font-size: 2em;
}

#number{
    color: #E17A04;
    font-family: 'Montserrat', sans-serif, medium;
    font-size: 2em;
}

#avis{
    font-size: 1.5em;
    color: #E17A04;   
}
/* Fin de "Avis client" */

/* Début de footer */

.contentContainer {
    width: 100%;
    background-color: #262021;
    margin-top: 30px;
    padding: 0px;
}
.socialLogo {
    padding: 10px;
}
.copyright {
    font-size: 14px;
}

/* Fin du footer */