.container1 {
width: 100%;
text-align: center;
margin-top: 30px;
margin-bottom: 30px;
padding: 30px;
background-color: #262021;

}

.container {
    background-color: #262021;
    border-radius: 30px;
}

.btn {
    background-color: #e17a04;
}